<div class="pig gayab">
  <div class="pighover">
    <div class="hover-content">
      <span>DASHBOARD</span>
    </div>
    <div id="content" class="hover-content">
      <span>CONTENT</span>
      <div class="arro">
        <i class="arrow down content-arrow-down"></i>
      </div>
    </div>

    <div id="users" class="hover-content">
      <span>USERS</span>

      <div class="arro">
        <i class="arrow down user-arrow-down"></i>
      </div>
    </div>
    <div id="reports" class="hover-content">
      <span>REPORTS</span>

      <div class="arro">
        <i class="arrow down report-arrow-down"></i>
      </div>
    </div>
    <div id="admin" class="hover-content">
      <span>ADMIN</span>

      <div class="arro">
        <i class="arrow down admin-arrow-down"></i>
      </div>
    </div>
  </div>
</div>
<div class="mike gayab">
  <div class="mikehover">
    <div class="mikehover-content-main">
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title"><span>PA:</span> Wilson Kumar</div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">No classes will be held on 21st Nov</div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files">
                2 files are attached
              </div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">PA: Samson White</div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">
            Guest lecture on Geometry on 20th September
          </div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files">
                2 files are attached
              </div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">PA: Wilson Kumar</div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">
            Additional course materials available on request
          </div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Course: Mathematics 101</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">PA: Wilson Kumar</div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">No classes will be held on 25th Dec</div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title"><span>PA:</span> Wilson Kumar</div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">No classes will be held on 21st Nov</div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files">
                2 files are attached
              </div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title"><span>PA:</span> Wilson Kumar</div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-body">No classes will be held on 21st Nov</div>
          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files">
                2 files are attached
              </div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mikehover-buttons">
      <div class="mike-button"><span>SHOW ALL</span></div>
      <div class="mike-button"><span>CREATE NEW</span></div>
    </div>
  </div>
</div>
<div class="bell gayab">
  <div class="bellhover">
    <div class="mikehover-content-main">
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              License for Introduction to Algebra has been assigned to your
              school
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              Lesson 3 Practice Worksheet overdue for Amy Santiago
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Course: Mathematics 101</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 05:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">23 new students created</div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                14-Sep-2018 at 01:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">15 submissions ready for evaluation</div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Class: Basics of Algebra</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                13-Sep-2018 at 01:15 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content cancel">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              License for Basic Concepts in Geometry has been assigned to
              your... school
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-minus-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              Lesson 3 Practice Worksheet overdue for Sam Diego
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Course: Advanced Mathematics</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              Lesson 3 Practice Worksheet overdue for Sam Diego
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Course: Advanced Mathematics</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mikehover-content">
        <div class="mikehover-text">
          <div class="mh-text-head">
            <div class="mh-text-title">
              Lesson 3 Practice Worksheet overdue for Sam Diego
            </div>
            <div class="mh-checker">
              <i
                class="fa fa-check-circle"
                style="font-size: 18px; color: #1f7a54"
              ></i>
            </div>
          </div>

          <div class="mh-text-foot">
            <div class="mh-text-foot-course">Course: Advanced Mathematics</div>
            <div class="mh-text-foot-course-info">
              <div class="mh-text-foot-course-info-files"></div>
              <div class="mh-text-foot-course-info-date">
                15-Sep-2018 at 07:21 pm
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mikehover-buttons">
      <div class="mike-button"><span>SHOW ALL</span></div>
    </div>
  </div>
</div>
