<div [formGroup]="form">
  <div class="personal-info" formGroupName="userDetails">
    <div class="personal-form">
      <div class="inputs finput">
        <label for="fname">First Name</label>
        <input
          type="text"
          name="fname"
          formControlName="fname"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
        <div *ngIf="f.fname.touched && f.fname.invalid" class="alert-danger">
          <div *ngIf="f.fname.errors && f.fname.errors.required">
            First Name is required.
          </div>
          <div *ngIf="f.fname.errors && f.fname.errors.minlength">
            First Name should be min 2 character.
          </div>
        </div>
      </div>
      <div class="inputs">
        <label for="lname">Last Name</label>
        <input
          type="text"
          name="lname"
          formControlName="lname"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
        <div *ngIf="f.lname.touched && f.lname.invalid" class="alert-danger">
          <div *ngIf="f.lname.errors && f.lname.errors.required">
            Last Name is required.
          </div>
          <div *ngIf="f.lname.errors && f.lname.errors.minlength">
            Last Name should be min 2 character.
          </div>
        </div>
      </div>
      <div class="inputs">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
        <div
          *ngIf="f.email.touched && f.email.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f.email.errors && f.email.errors.required">
            Email is required.
          </div>
          <div *ngIf="f.email.errors && f.email.errors.email">
            Please, enter valid email address.
          </div>
        </div>
      </div>
      <div class="inputs">
        <label for="password">Create Password</label>
        <input
          type="password"
          name="password"
          formControlName="password"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
        <div
          *ngIf="f.password.touched && f.password.invalid"
          class="alert-danger"
        >
          <div *ngIf="f.password.errors && f.password.errors.required">
            password is required.
          </div>
          <div *ngIf="f.password.errors && f.password.errors.minlength">
            password should be min 5 character.
          </div>
        </div>
      </div>
      <div class="inputs">
        <label for="mobile">Phone Number</label>
        <div class="mobile-no">
          +
          <div class="area-code">
            <input
              type="number"
              name="mobile"
              class="area-code"
              formControlName="mobileCountryCode"
              [readonly]="isreadOnly"
              [ngClass]="isreadOnly ? 'read' : 'write'"
            />
          </div>
          <div class="mobile">
            <input
              type="number"
              class="mobile"
              formControlName="mobileNumber"
              [readonly]="isreadOnly"
              [ngClass]="isreadOnly ? 'read' : 'write'"
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="f.mobileCountryCode.touched && f.mobileCountryCode.invalid"
        class="alert-danger pad-alert"
      >
        <div
          *ngIf="
            f.mobileCountryCode.errors && f.mobileCountryCode.errors.required
          "
        >
          country code is required.
        </div>
      </div>
      <div
        *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid"
        class="alert-danger pad-alert"
      >
        <div *ngIf="f.mobileNumber.errors && f.mobileNumber.errors.required">
          Phone Number is required.
        </div>
        <div
          *ngIf="
            f.mobileNumber.errors &&
            (f.mobileNumber.errors.minlength || f.mobileNumber.errors.pattern)
          "
        >
          Please enter valid phone number.
        </div>
      </div>
      <div class="resume">
        <label for="resume-upload" class="custom-file-upload">
          <img
            src="../../../assets/icons/Upload_black_24dp.svg"
            class="svgs"
            alt=""
          />UPLOAD UPDATED RESUME
        </label>
        <input id="resume-upload" type="file" (change)="resumee($event)" />
        <div *ngIf="filename !== undefined" class="file">{{ filename }}</div>
      </div>
      <div *ngIf="fileerror" class="pad-alert alert-danger">
        Please add your resume
      </div>
      <div *ngIf="pdferror" class="pad-alert alert-danger">
        Please upload pdf only
      </div>
      <div class="inputs portfolio">
        <label for="">Enter Portfolio URL (if any)</label>
        <input
          type="text"
          formControlName="portfolioUrl"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
      </div>

      <div class="job-roles" formGroupName="formKeys">
        <label>Preferred Job Roles</label>
        <div class="role" *ngFor="let data of jobs; let i = index">
          <div class="checkbox_wrapper">
            <input
              type="checkbox"
              [value]="data.jobrole_id"
              (change)="onCheckboxChange($event)"
              [readonly]="isreadOnly"
              [ngClass]="isreadOnly ? 'read' : 'write'"
              formControlName="J{{ data.jobrole_id }}"
            />
            <label></label>
          </div>
          {{ data.title }}
        </div>

        <!-- <div class="role">
        <div class="checkbox_wrapper">
          <input
            type="checkbox"
            value="Software Engineer"
            (change)="onCheckboxChange($event)"
          />
          <label></label>
        </div>
        Software Engineer
      </div>
      <div class="role">
        <div class="checkbox_wrapper">
          <input
            type="checkbox"
            value="Software Quality Engineer"
            (change)="onCheckboxChange($event)"
          />
          <label></label>
        </div>
        Software Quality Engineer
      </div> -->
      </div>
      <div *ngIf="perror" class="alert-danger pad-alert">
        Pls select atleast one prefrence
      </div>
      <div class="inputs referral">
        <label>
          If You Are Registering Via A Referral, Please Mention Full Name Of The
          Employee Who Referred You
        </label>
        <input
          type="text"
          formControlName="referral"
          [readonly]="isreadOnly"
          [ngClass]="isreadOnly ? 'read' : 'write'"
        />
      </div>
      <div class="job-updates">
        <div class="checkbox_wrapper">
          <input
            type="checkbox"
            formControlName="jobUpdatesViaEmail"
            [readonly]="isreadOnly"
            [ngClass]="isreadOnly ? 'read' : 'write'"
          />
          <label></label>
        </div>
        <div>Send me job related updates via mail</div>
      </div>
    </div>
    <div class="personal-photo">
      <div class="pic">
        <img
          [src]="imageShow"
          alt=""
          width="200"
          height="200"
          style="border-radius: 50%; padding-top: 10px; padding-right: 10px"
        />
      </div>
      <div class="upload">
        <label for="pic-upload" class="custom-file-upload">
          UPLOAD DISPLAY PICTURE
        </label>
        <input id="pic-upload" type="file" (change)="onFileChanged($event)" />
        <label>Max image size 5 MB</label>
      </div>
    </div>
  </div>
</div>
