.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 47px 550px 40px;
  width: 768px;
  height: 768px;
  background-color: #eeeeee;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "l l l l l l l l l l l l"
    "f f f f f f f f f f f f";
}

.heading {
  padding-top: 15px;
  padding-left: 30px;

  color: white;
  grid-area: h;
  background-color: #25313f;
}

.login {
  margin-top: 30px;
  grid-column: 3/10;
  background-color: #ffffff;
  border-top: 5px solid #3ac7ec;
}

.login-header {
  text-align: center;
  font-size: 24px;
  color: #222222;
}

.radios > .school {
  margin-left: 30px;
}
.form {
  margin: 25px 25px;
}

.selectors {
  height: 90px;

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select {
  width: 396px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.selector-label {
  font-size: 12px;
  color: #666666;
}

.inputs {
  margin-top: 60px;

  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userip {
  width: 390px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.forgot {
  margin-left: auto;
  color: #1f7a54;
  font-size: 14px;
}

.submit {
  margin-top: 20px;
  height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  align-self: center;
  background-color: #3fd28b;
  height: 40px;
  width: 200px;
}

.footer {
  grid-area: f;
  margin-top: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.about {
  padding-left: 285px;
  color: #1f7a54;
}
