<div class="create-account">
  <div class="ca-back">
    <i class="fa fa-arrow-left" style="font-size: 24px; color: #3fd28b"></i>
  </div>
  <div class="ca-text">Create An Account</div>
  <div class="ca-buttons">
    <button>CANCEL</button>
    <button [disabled]="clicked" (click)="submitForm()">CREATE</button>
  </div>
</div>
<div class="aligner" [formGroup]="personalDetailsForm">
  <app-register-progress
    [data]="step"
    formGroupName="userDetails"
    (step)="progressStep($event)"
  ></app-register-progress>
  <app-personal-details *ngIf="step === 1" [jobs]="jobs"></app-personal-details>
  <app-qualifications
    *ngIf="step === 2"
    [formGroup]="personalDetailsForm"
    formGroupName="qualifications"
    [techstack]="techstack"
    (isfresher)="setfresher($event)"
  ></app-qualifications>
  <app-review
    *ngIf="step === 3"
    (sedit)="editing($event)"
    [jobs]="jobs"
    [techstack]="techstack"
  ></app-review>
</div>
<div class="buttons">
  <div class="center">
    <button class="button-prev" *ngIf="step !== 1" (click)="submit('prev')">
      Previous
    </button>
    <button class="button-next" *ngIf="step !== 3" (click)="submit('next')">
      Next
    </button>
  </div>
</div>
<pre>
  {{ personalDetailsForm.value | json }}
</pre>
