<div id="log" class="login">
  <div class="login-header">
    <div class="login-img">
      <img src="../../../assets/quantum screen assets/icons/back.JPG" alt="" />
    </div>
    <div>Login with Quantum</div>
  </div>
  <div class="login-body">
    <div class="form">
      <form action="#">
        <div class="radios">
          <span>
            <input
              type="radio"
              id="district"
              name="district"
              value="district"
              required
            />
            <label for="district">District</label>
          </span>
          <span class="school">
            <input
              type="radio"
              id="ischool"
              name="independent-school"
              value="independent-school"
              required
            />
            <label for="ischool">Independent school</label>
          </span>
        </div>
        <div class="selectors">
          <div>
            <div class="selector-label">
              <label for="state">State</label>
            </div>

            <select name="" id="state" required>
              <option value="Alabama">Alabama</option>
            </select>
          </div>
          <div>
            <div class="selector-label">
              <label for="district">District</label>
            </div>

            <select name="" id="distrit" required>
              <option value="Alabama School District">
                Alabama School District
              </option>
            </select>
          </div>
        </div>
        <div class="inputs">
          <div>
            <input
              class="userip"
              type="text"
              name="userd"
              id=""
              placeholder="Username/Email ID"
              required
            />
          </div>
          <span class="forgot">FORGOT USERNAME?</span>
          <div>
            <input
              class="userip"
              type="password"
              name=""
              id=""
              placeholder="Password"
              required
            />
          </div>
          <span class="forgot">FORGOT PASSWORD?</span>
        </div>
        <div class="submit">
          <div>
            <input
              type="checkbox"
              id="remember"
              name="remember"
              value="independent-school"
            />
            <label for="remember">Remember Me</label>
          </div>

          <button type="submit" class="button">LOG IN</button>
        </div>
      </form>
    </div>
  </div>
</div>
