@media (min-width: 500px) and (max-width: 768px) {
  #nitems {
    display: none;
  }

  .nav-profile {
    width: 23px;
    height: 21px;
    margin-top: 11px;
  }
  .nav-item-ham {
    margin-top: 9px;
    width: 27px;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  .nav-item-ham {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 2560px) {
  .nav-item-ham {
    display: none;
  }
}

.navbar {
  background-color: #25313f;
  display: flex;
  height: 56px;
}

.bubble {
  position: relative;
  margin-bottom: 15px;
  background-color: #2a7ff3;
  left: 13px;
  bottom: 10px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: white;
  z-index: 1;
}
.navbar > .navbar-brand {
  color: white;
  font-size: 24px;
  padding-top: 10px;

  padding-left: 24px;
}

.navbar > .navbar-items {
  display: flex;

  margin-left: auto;
  color: #3fd28b;

  padding-right: 20px;
}

.svgs {
  display: flex;
}

.nav-item-text {
  margin-right: 32px;

  padding-top: 19px;
}
.nav-item-text:hover {
  color: white;
  border-bottom: 4px solid white;
}

.nav-icon {
  position: absolute;
  top: 18px;
  width: 20px;
  height: 20px;
}

.ham {
  width: 27px;
  height: 4px;
  background-color: #8ddc97;
  margin: 5px 0;
}
