.card-container {
  margin-bottom: 24px;
  height: fit-content;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000003d;
  opacity: 1;

  .card-title {
    padding-left: 16px;
    padding-top: 16px;

    color: #1f7a54;
    opacity: 1;
    font-size: 18px;
  }
  .card-details {
    display: flex;
  }
  .card-label {
    color: #666666;
    opacity: 1;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 12px;
  }

  .card-daytime {
    height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .datetime {
      height: 18px;
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 8px;
      font-size: 14px;
      border-right: 1px solid #eeeeee;
    }
  }
  .card-location {
    display: flex;
    margin-top: 39px;
    margin-left: 10px;

    .location {
      padding-left: 8px;
      font-size: 15px;
      color: #666666;
    }
  }

  .card-jobs {
    padding-top: 10px;
    display: flex;
    margin-left: 8px;
    .job-icon {
      padding-top: 3px;
      .image {
        border: 1px solid black;
        height: 24px;
        width: 24px;
        text-align: center;
        padding-top: 2px;
        box-sizing: border-box;
        border-radius: 50%;
      }
    }
    .job-role {
      display: flex;
      height: fit-content;
      border-right: 1px solid #eeeeee;
      margin-left: 8px;
      padding-right: 8px;
    }
    .job-title {
      padding-top: 4px;
      padding-left: 8px;
      box-sizing: border-box;
    }
    .job-role-pipe {
      display: flex;
      height: 18px;

      margin-left: 8px;
      padding-right: 8px;
    }
  }

  .expired {
    width: 107px;
    height: 18px;
    color: #d10107;
    font-size: 12px;
    background: #ffe4e6;
    position: relative;
    float: right;
    right: 10px;
    top: -5px;
    text-align: center;
  }
  .card-internship {
    margin-top: 22px;
    margin-left: 16px;
    background: #eedd6b 0% 0% no-repeat padding-box;
    border-radius: 9px;
    opacity: 1;
    font-size: 10px;
    width: 218px;
    height: 16px;
    text-align: center;
    padding-top: 3px;
  }
  .card-footer {
    margin-top: 26px;
    padding-bottom: 16px;
    button {
      display: block;
      margin: auto;
      background: #3fd28b 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 5px #0000003d;
      border-radius: 2px;
      opacity: 1;
      border: none;
      width: 168px;
      height: 28px;
      font-size: 14px;
      color: #25313f;
    }
  }
}

@media (min-width: 0px) and (max-width: 375px) {
  .card-container {
    height: fit-content;

    .card-jobs {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .job-role {
        display: flex;

        height: 18px;
        border-right: 1px solid #eeeeee;
        margin-left: 8px;
        padding-right: 8px;
        padding-bottom: 14px;

        .job-title {
          padding-left: 8px;
        }
      }
      .job-role-pipe {
        display: flex;

        height: 18px;
        border-right: 1px solid #eeeeee;
        margin-left: 8px;
        padding-right: 8px;
        padding-bottom: 14px;

        .job-title {
          padding-left: 8px;
        }
      }
    }
    .card-internship {
      margin-top: 10px;
    }

    .card-footer {
      padding-bottom: 16px;
    }
  }
}
