<div class="banner">
  <div class="course">
    <div>
      <img
        src="../../../assets/quantum screen assets/icons/courses.svg"
        alt=""
        class="courseimg"
      />
    </div>
    <div class="cotext"><strong>4</strong> Courses</div>
  </div>
  <div class="class">
    <div>
      <img
        src="../../../assets/quantum screen assets/icons/classes.svg"
        alt=""
        class="courseimg"
      />
    </div>
    <div class="cotext"><strong>4</strong> Classes</div>
  </div>
</div>
<div class="summary">
  <div class="csum"><p>Showing 4 of 4 courses</p></div>
  <div class="sort">
    Sort By
    <select name="" id="" class="select">
      <option value="Coursename">Course Name</option>
    </select>
    <img src="../../../assets/quantum screen assets/icons/sort.svg" alt="" />
  </div>
</div>
