<div class="card-container" id="cc">
  <button class="apply" (click)="submitForm()">APPLY</button>
  <div class="card-title">{{ walkin.title }}</div>
  <div class="card-details">
    <div class="card-daytime">
      <div class="card-label">Date & Time :</div>
      <div class="datetime">
        {{ walkin.startdate | date: "dd-MMM-yyyy" }} to
        {{ walkin.enddate | date: "dd-MMM-yyyy" }}
      </div>
    </div>

    <div class="card-location">
      <div class="location-icon">
        <img src="../../../assets/icons/Location icon.svg" alt="" />
      </div>
      <div class="location">{{ walkin.location }}</div>
    </div>
  </div>
  <div class="card-label">Job Roles :</div>
  <div class="card-jobs">
    <ul>
      <li *ngFor="let job of walkin.jobroles">
        <div class="image">
          <img src="../../../assets/icons/{{ job }}.svg" alt="" />
        </div>
        <div class="job-title">{{ job }}</div>
      </li>
    </ul>
    <!-- <div class="job-role" *ngFor="let job of walkin.jobroles">
      <div class="job-icon">
        <img src="../../../assets/icons/{{ job }}.svg" alt="" />
      </div>
      <div class="job-title">{{ job }}</div>
    </div> -->
  </div>
  <div class="card-footer" (click)="pretoggle()">
    <div class="acc-brand">Pre-requisites & Application Process</div>
    <div class="acc-arrow-up">
      <img
        *ngIf="preapptoggle"
        src="../../../assets/icons/expand_less_black_24dp.svg"
        alt=""
      />
      <img
        *ngIf="!preapptoggle"
        src="../../../assets/icons/expand_more_black_24dp.svg"
        alt=""
      />
    </div>
  </div>
  <div class="card-footer-expand" *ngIf="preapptoggle">
    <div class="gen-instructions">
      <div class="card-label">General Instructions :</div>
      <div class="card-expand-content" [innerHTML]="displayinst.general"></div>
    </div>
    <div class="exam-instructions">
      <div class="card-label">Instructions for the Exam :</div>
      <div class="card-expand-content" [innerHTML]="displayinst.exam"></div>
    </div>
    <div class="sys-instructions">
      <div class="card-label">Minimum System Requirements :</div>
      <div class="card-expand-content" [innerHTML]="displayinst.system"></div>
    </div>
    <div class="process-instructions">
      <div class="card-label">Process :</div>
      <div class="card-expand-content" [innerHTML]="displayinst.process">
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
